* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  width: 315px;
  margin-right: auto;
  margin-left: auto;
}

.title_link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24A3FF;
  text-transform: uppercase;
}

.title_link:hover {
  color: #F0145A;
}

.block_subtitle {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  margin-top: 5px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: transparent;
  margin: 0;
}

.grid {
  background-color: #323264;
  padding-top: 10px;
}
.grid_cards_items {
  display: grid;
  gap: 60px;
}
.grid_cards_image {
  width: 92px;
  height: 92px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 14px;
}
.grid_cards_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #24A3FF;
  margin-top: 30px;
  margin-bottom: 15px;
}
.grid_cards_text {
  margin: 0;
  line-height: 26px;
  color: #FFFFFF;
}

.team_slider {
  background-color: #F5F5FA;
  border-radius: 0 0 12px 12px;
}
.team_slider_image {
  line-height: 0;
}
.team_slider_img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.team_slider_content {
  padding: 30px;
}
.team_slider_content_name {
  font-weight: 700;
  line-height: 19px;
  color: #B3B3BA;
  margin-bottom: 6px;
}
.team_slider_content_position {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin: 0;
}

.paginator {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.point {
  width: 16px;
  height: 16px;
  background-color: rgba(36, 163, 255, 0.2);
  border-radius: 50%;
}

.blue {
  background-color: #24A3FF;
}

.clients {
  background-color: #F5F5FA;
  padding-top: 10px;
}
.clients_title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #323264;
}
.clients_list {
  display: grid;
}
.clients_list_item {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients_hillel {
  background-color: #1C4280;
}
.clients_wannabiz {
  background-color: #143646;
}
.clients_tapgerine {
  background-color: #F48B30;
}
.clients_three_d_look {
  background-color: #9E4DC3;
}
.clients_orangear {
  background-color: #FD9339;
}
.clients_adtelligend {
  background-color: #E2E2E4;
}
.clients_clickky {
  background-color: #C71C36;
}
.clients_eco_leasing {
  background-color: #DCF3F9;
}
.clients_infratek {
  background-color: #EAEAEA;
}
.clients_city_park {
  background-color: #282240;
}
.clients_art_print {
  background-color: #1D4568;
}
.clients_ultimate_card {
  background-color: #000000;
}

.recommended {
  background-color: #F5F5FA;
}
.recommended_card {
  display: grid;
  gap: 30px;
}
.recommended_card_items {
  background-color: #FFFFFF;
  border-radius: 0 0 8px 8px;
}
.recommended_card_items_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.recommended_card_items_content {
  padding: 30px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.recommended_card_items_content_title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #24A3FF;
}
.recommended_card_items_content_subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #B3B3BA;
  margin: 0;
  text-transform: uppercase;
}
.recommended_card_items_content_horizontal-rule {
  background-color: #E6E6F0;
  height: 4px;
  margin: 0;
  border: 0;
}
.recommended_card_items_content_text {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

@media (max-width: 768px) {
  .clients_list {
    grid-template-columns: 1fr;
  }
  .clients_list_item:nth-child(n+7) {
    display: none;
  }
  .grid_cards_items {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 648px;
  }
  .grid_cards_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .clients_list {
    grid-template-columns: repeat(3, 1fr);
  }
  .subtitle {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .recommended_card {
    grid-template-areas: "equity_associate gdpr" "millennial_testament millennial_testament";
  }
  .equity_associate {
    grid-area: equity_associate;
  }
  .gdpr {
    grid-area: gdpr;
  }
  .millennial_testament {
    grid-area: millennial_testament;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 904px;
  }
  .grid_cards_items {
    grid-template-columns: repeat(3, 1fr);
  }
  .clients_list {
    grid-template-columns: repeat(4, 1fr);
  }
  .team_slider_img {
    width: 400px;
    height: 527px;
    border-radius: 12px 0 0 12px;
  }
  .team_slider {
    display: flex;
  }
  .recommended_card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1320px;
  }
  .team_slider_img {
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1600px;
  }
  .wrapper_clients {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
  }
  .team_slider_img {
    height: 298px;
  }
}

/*# sourceMappingURL=stylization.css.map */
