@use "variables";
@use 'sass:map';

@media (max-width: map.get(variables.$wrapper, 'tablet')){
    .clients_list {
        grid-template-columns: 1fr;
        &_item:nth-child(n + 7) {
            display: none;
        }
    }
    .grid_cards_items {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
@media (min-width: map.get(variables.$wrapper, 'tablet')){
    .wrapper {
        padding: 0 60px;
    }
    .grid_cards_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(3, 1fr);
    }
    .subtitle {
        font-size: 38px;
        line-height: 46px;
    }
}
@media (min-width: map.get(variables.$wrapper, 'tablet')) and (max-width: map.get(variables.$wrapper, 'laptop')) {
    .recommended_card {
        grid-template-areas:
        'equity_associate gdpr'
        'millennial_testament millennial_testament';
    }
    .equity_associate {
        grid-area: equity_associate;
    }
    .gdpr {
        grid-area: gdpr;
    }
    .millennial_testament {
        grid-area: millennial_testament;
    }
}
@media (min-width: map.get(variables.$wrapper, 'laptop')){
    .grid_cards_items {
        grid-template-columns: repeat(3, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(4, 1fr);
    }
    .team_slider {
        display: flex;
        &_content {
            border-radius: 0 12px 12px 0;
        }
    }
    .recommended_card {
        grid-template-columns: repeat(3, 1fr);
    }
    .try {
        height: 100%;
        width: auto;
        border-radius: 12px 0 0 12px;
    }
}
@media (min-width: map.get(variables.$wrapper, 'desktopSD')){

}
@media (min-width: map.get(variables.$wrapper, 'desktop')){
    .wrapper_clients {
        width: 1720px;
        margin-left: auto;
        margin-right: auto;
    }
    .clients {
        margin-bottom: 60px;
    }
    .wrapper {
        padding: 0 160px;
    }

}
