@use "variables";
@use 'sass:map';

@media (max-width: map.get(variables.$wrapper, 'tablet')){
    .clients_list {
        grid-template-columns: 1fr;
        &_item:nth-child(n + 7) {
            display: none;
        }
    }
    .grid_cards_items {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .footer_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex_center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer_point {
        display: none;
    }
}
@media (min-width: map.get(variables.$wrapper, 'tablet')){
    .experience_wrapper {
        padding: 0 60px;
    }
    .experience {
        padding: 60px 0;
    }
    .wrapper {
        padding: 0 60px;
    }
    .grid_cards_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(3, 1fr);
    }
    .subtitle {
        font-size: 38px;
        line-height: 46px;
    }
    .footer_content {
        display: grid;
    }
    .footer_content {
        grid-template-areas:
        'footer_content_location footer_content_company'
        'footer_content_contacts footer_content_contacts'
    }
    .footer_content_location {
        grid-area: footer_content_location;
    }
    .footer_content_company {
        grid-area: footer_content_company;
    }
    .footer_content_contacts {
        grid-area: footer_content_contacts;
    }
    .flex_center {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .footer_content_company {
        margin: 0;
        text-align: right;
    }

}
@media (min-width: map.get(variables.$wrapper, 'tablet')) and (max-width: map.get(variables.$wrapper, 'laptop')) {
    .recommended_card {
        grid-template-areas:
        'equity_associate gdpr'
        'millennial_testament millennial_testament';
    }
    .equity_associate {
        grid-area: equity_associate;
    }
    .gdpr {
        grid-area: gdpr;
    }
    .millennial_testament {
        grid-area: millennial_testament;
    }
}
@media (min-width: map.get(variables.$wrapper, 'laptop')){
    .grid_cards_items {
        grid-template-columns: repeat(3, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(4, 1fr);
    }
    .team_slider {
        display: flex;
        &_content {
            border-radius: 0 12px 12px 0;
        }
    }
    .recommended_card {
        grid-template-columns: repeat(3, 1fr);
    }
    .alex {
        height: 100%;
        width: auto;
        border-radius: 12px 0 0 12px;
    }
    .experience_scroll {
        display: none;
    }
    .experience_list {
        display: flex;
        align-items: end;
        padding: 15px 0;
    }
    .experience_content {
        margin: 0;
        align-content: center;
        padding: 10px 0;
    }
    .experience_grid {
        display: grid;
        grid-template-columns: 1fr 124px 1fr;
        position: relative; // добавим позиционирование родителя
    }
    .experience_horizontal-rule {
        width: 4px;
        height: 100%; // используем 100% ширины для вертикальной линии
        //position: absolute; // абсолютное позиционирование
        //top: 0;
        left: 50%; // размещаем по центру
    }
}
@media (min-width: map.get(variables.$wrapper, 'desktopSD')){
    .experience_wrapper {
        padding: 0 180px;
    }
}
@media (min-width: map.get(variables.$wrapper, 'desktop')){
    .wrapper_clients {
        width: 1720px;
        margin-left: auto;
        margin-right: auto;
    }
    .clients {
        margin-bottom: 60px;
    }
    .wrapper {
        padding: 0 160px;
    }
    .experience_wrapper {
        padding: 0 280px;
    }

}
