.experience {
    background-color: #323264;
    padding-bottom: 30px;
    &_scroll {
        overflow: auto;
        margin-bottom: 30px;
        &_inner {
            display: flex;
            &_layout {
                padding-right: 30px;
                display: flex;
                gap: 20px;
                flex-shrink: 0;
            }
            &_layout:first-child {
                margin-left: 30px
            }
        }
        &_item {
            text-decoration: none;
            color: #B3B3BA;
            font-size: 30px;
            font-weight: 700;
            line-height: 36.57px;
        }
        &_block {
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            background-clip: text;
        }
        &_first {
            color: transparent;
        }
    }
    &_list {
        display: none;
        gap: 30px;
        flex-direction: column;
    }
    &_horizontal-rule {
        background-color: rgba(255, 255, 255, 0.3);
        height: 4px;
        margin: 0;
        border: 0;
    }
    &_content {
        margin-top: 30px;
        &_title {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #FFFFFF;
            margin: 0 0 30px 0;
        }
        &_text {
            font-size: 19px;
            line-height: 30px;
            color: #FFFFFF;
            margin: 0;
        }
    }
}
