@use 'stylization_base';
@use 'grid';
@use 'team';
@use 'clients';
@use 'sass:map';

$wrapper: (
        tablet: 768px,
        laptop: 1024px,
        desktopSD: 1440px,
        desktop: 1920px,
);

@media (max-width: map.get($wrapper, 'tablet')){
    .clients_list {
        grid-template-columns: 1fr;
        &_item:nth-child(n + 7) {
            display: none;
        }
    }
    .grid_cards_items {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
@media (min-width: map.get($wrapper, 'tablet')){
    .wrapper {
        width: 648px;
    }
    .grid_cards_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(3, 1fr);
    }
    .team_slider_img {
        width: 648px;
    }
    .subtitle {
        font-size: 38px;
        line-height: 46px;
    }
}
@media (min-width: map.get($wrapper, 'laptop')){
    .wrapper {
        width: 904px;
    }
    .grid_cards_items {
        grid-template-columns: repeat(3, 1fr);
    }
    .clients_list {
        grid-template-columns: repeat(4, 1fr);
    }
    .team_slider_img {
        width: 400px;
        height: 527px;
        border-radius: 12px 0 0 12px;
    }
    .team_slider {
        display: flex;
    }
}
@media (min-width: map.get($wrapper, 'desktopSD')){
    .wrapper {
        width: 1320px;
    }
    .team_slider_img {
        height: 344px;
    }
}
@media (min-width: map.get($wrapper, 'desktop')){
    .wrapper {
        width: 1600px;
    }
    .wrapper_clients {
        width: 1720px;
        margin-left: auto;
        margin-right: auto;
    }
    .team_slider_img {
        height: 298px;
    }
}
